* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
}

body {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to top right,
    rgba(1, 82, 129, 0.8),
    rgba(1, 28, 117, 0.8)
  );
  color: #000;
}

.container {
  max-width: 960px;
  width: 50vw;
  min-height: 90%;
  padding: 30px;
  background: rgb(255 255 255 / 0.2);
  box-shadow: 5px 10px 10px rgb(255 255 255 / 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.demos {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 50px;
  position: relative;
  padding: 30px;
  counter-reset: item-count;
}

.demos::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 30px;
  width: 2px;
  height: calc(100% - 30px);
  background: rgb(51 51 51 / 0.6);
}

.demo {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 80px;
}

.demo:nth-child(2n) {
  padding-left: 120px;
}

.demo a::before {
  margin-right: 5px;
  counter-increment: item-count;
  content: counter(item-count) ". ";
}

.title {
  font-size: 1.8rem;
  margin-block-end: 30px;
  text-align: center;
}

.demo a:hover {
  color: #ccc;
}
